# <font color='#2B17B0'>CIENCIA DE DATOS APLICADA A FINANZAS</font>
Sesión 6, 2024-05-20<br>
Carlos Crespo Elizondo<br>
EGADE BUSINESS SCHOOL

# <font color='#2B17B0'>Librerías a importar</font>

In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

sns.set_style('darkgrid')

# <font color='#2B17B0'>Indice de Precios y Cotizaciones - "IPC" S&P BMV -</font>

> _"El S&P/BMV IPC busca medir el desempeño de las acciones de mayor tamaño y liquidez listadas en la BMV. Su objetivo es proporcionar un índice amplio, representativo, que abarque el mercado bursátil mexicano. Los componentes del índice son ponderados por capitalización de mercado modificada, sujetos a requisitos de diversificación."_<br><br>https://www.spglobal.com/spdji/es/indices/equity/sp-bmv-ipc/#overview

### Universo
> "_Los constituyentes deben de ser acciones listadas en la BMV, excluyendo los Fideicomisos de Inversión en Bienes Raíces (FIBRAS) y los Fideicomisos hipotecarios._"

### Historial de Operación
> _"Deben de cumplir con el siguiente criterio:"_
> * Las acciones deben de tener un historial de negociación por lo menos de tres meses
> * Las acciones deberion de haber operado por lo menos en el 95% de los días de los últimos seis meses
> * Si las acciones tienen menos de seis meses de historial, se aplica al 95% de los días operados

|Emisora|Ticker|Ticker Y!F|
|:-|:-|:-|
|"Indice de Precios y Cotizaciones"|IPC|^MXX|
|Alfa A|ALFAA|ALFAA.MX|
|Alsea A|ALSEA|ALSEA.MX|
|America Movil  B|AMXB|AMXB.MX| 
|Arca Continental|AC|AC.MX| 
|Banco del Bajio|BBAJIOO|BBAJIOO.MX| 
|Becle |CUERVO|CUERVO.MX| 
|Bolsa Mexicana de Valores |BOLSAA|BOLSAA.MX| 
|Cemex CPO|CEMEXCPO|CEMEXCPO.MX| 
|Coca-Cola Femsa  UBL|KOFUBL|KOFUBL.MX| 
|Corporacion Inmobiliaria VestaB|VESTA|VESTA.MX| 
|El Puerto de Liverpool |LIVEPOLC-1|LIVEPOLC-1.MX| 
|Fomento Economico Mexicano |FEMSAUBD|FEMSAUBD.MX| 
|Genomma Lab Internacional |LABB|LABB.MX| 
|Gentera |GENTERA|GENTERA.MX| 
|Gruma SAB B|GRUMAB|GRUMAB.MX| 
|Grupo Aeroportuario del Centro NorteB. |OMAB|OMAB.MX| 
|Grupo Aeroportuario del PacificoB. |GAPB|GAPB.MX| 
|Grupo Aeroportuario del Sureste  B|ASURB|ASURB.MX| 
|Grupo Bimbo S.A.B.|BIMBOA|BIMBOA.MX| 
|Grupo Carso |GCARSOA1|GCARSOA1.MX| 
|Grupo Cementos de Chihuahua |GCC|GCC.MX| 
|Grupo Comercial Chedraui|CHDRAUIB|CHDRAUIB.MX|
|Grupo Elektra |ELEKTRA|ELEKTRA.MX| 
|Grupo Financiero Banorte O|GFNORTEO|GFNORTEO.MX| 
|Grupo Financiero Inbursa O|GFINBURO|GFINBURO.MX| 
|Grupo Mexico  B|GMEXICOB|GMEXICOB.MX| 
|Grupo Televisa  CPO|TLEVISACPO|TLEVISACPO.MX| 
|Industrias Penoles|PE&OLES|PE&OLES.MX| 
|Kimberly Clark de Mexico  A|KIMBERA|KIMBERA.MX| 
|Megacable Holdings |MEGACPO|MEGACPO.MX| 
|ORBIA ADVANCE CORPORATION |ORBIA|ORBIA.MX| 
|Promotora y Operadora de Infraestructura |PINFRA|PINFRA.MX| 
|Qualitas Controladora|Q|Q.MX| 
|Regional |RA|RA.MX| 
|Walmart de Mexico |WALMEX|WALMEX.MX|

# <font color='#2B17B0'>Precios Yahoo Finance</font>

### Como obtener los precios de Y!Finance?

In [ ]:
'https://query1.finance.yahoo.com/v7/finance/download/WALMEX.MX?period1=1684634015&period2=1716256415&interval=1d&events=history&includeAdjustedClose=true'
'https://query1.finance.yahoo.com/v7/finance/download/WALMEX.MX?period1=1708480496&period2=1716256415&interval=1d&events=history&includeAdjustedClose=true'
'https://query1.finance.yahoo.com/v7/finance/download/WALMEX.MX?period1=1700531755&period2=1716256415&interval=1d&events=history&includeAdjustedClose=true'

## <font color='#2B17B0'>UNIX Epoch Time</font>

> _"Son los segundos que han pasado a partir de las 0:00:00hrs del 1 de enero, 1970"_

### Importar librería datetime

In [3]:
import datetime

### Epoch 0

In [4]:
datetime.datetime(1970, 1, 1, 0, 0)

datetime.datetime(1970, 1, 1, 0, 0)

In [7]:
datetime.datetime.utcfromtimestamp(0)

/var/folders/x8/47t58hl55rxgxz3t1skqjg440000gn/T/ipykernel_4496/2936717734.py:1: DeprecationWarning: datetime.datetime.utcfromtimestamp() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.fromtimestamp(timestamp, datetime.UTC).
  datetime.datetime.utcfromtimestamp(0)

datetime.datetime(1970, 1, 1, 0, 0)

In [8]:
datetime.datetime.fromtimestamp(1684634015)

datetime.datetime(2023, 5, 20, 19, 53, 35)

In [9]:
datetime.datetime.fromtimestamp(1716256415)

datetime.datetime(2024, 5, 20, 19, 53, 35)

### Comparar los timestamps de los links

### Tiempo Universal Coordinado / Coordinated Universal Time (UTC): Stándard de tiempo en el mundo

UTC es un estándar de tiempo utilizado para sincronizar/coordinar los centros de tiempo alrededor del mundo.  Se utiliza el promedio de dos componentes:
1. Hora Atómica Internacional (**TAI**):  Es una escala de tiempo que combina los resultados de 400 relojes atómicos de gran precisión alrededor del mundo
1. Hora Universal (**UT1**):  También conocido como tiempo astronómico o solar referente a la rotación de la tierra.  Compara el paso marcado por **TAI** y la duración actual de un día en la tierra.

### UTC es un estándard no una zona horaria
GMT es la Zona Horaria de Greenwich.

## <font color='#2B17B0'>Crear función para obtener precios de acciones</font>

In [10]:
url = 'https://query1.finance.yahoo.com/v7/finance/download/WALMEX.MX?period1=1684634015&period2=1716256415&interval=1d&events=history&includeAdjustedClose=true'
pd.read_csv(url)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2023-05-22,72.000000,72.599998,70.419998,70.419998,70.419998,15184624
1,2023-05-23,70.889999,71.629997,70.129997,71.290001,71.290001,12489008
2,2023-05-24,72.000000,72.000000,70.209999,70.510002,70.510002,16598087
3,2023-05-25,70.500000,70.739998,69.849998,70.000000,70.000000,20357863
4,2023-05-26,70.150002,70.300003,68.230003,68.690002,68.690002,21566575
...,...,...,...,...,...,...,...
246,2024-05-14,68.739998,68.739998,66.589996,67.129997,67.129997,14760832
247,2024-05-15,67.050003,68.940002,66.809998,67.930000,67.930000,11500471
248,2024-05-16,67.610001,68.800003,67.309998,68.300003,68.300003,14951215
249,2024-05-17,67.820000,68.040001,67.120003,67.989998,67.989998,6770407
250,2024-05-20,68.000000,68.279999,67.519997,67.970001,67.970001,17692073

## Utilizar f String

### Fechas a Epoch Timestamp

In [11]:
fecha1 = '2024-02-21'
fecha2 = '2024-05-20'

In [12]:
fecha1 = datetime.datetime.strptime(fecha1, "%Y-%m-%d").strftime('%s')
fecha2 = datetime.datetime.strptime(fecha2, "%Y-%m-%d").strftime('%s')

In [13]:
fecha1

'1708495200'

In [14]:
fecha2

'1716184800'

### Definir variable `accion`

In [29]:
accion = 'walmex.mx'

In [19]:
a = 8
b = 10
c = a + b

In [20]:
suma = f'La suma de {a} mas {b} es igual {c}'
print(suma)

La suma de 8 mas 10 es igual 18

In [30]:
url = f'https://query1.finance.yahoo.com/v7/finance/download/{accion}?period1={fecha1}&period2={fecha2}&interval=1d&events=history&includeAdjustedClose=true'

In [31]:
url

'https://query1.finance.yahoo.com/v7/finance/download/walmex.mx?period1=1708495200&period2=1716184800&interval=1d&events=history&includeAdjustedClose=true'

In [40]:
df = pd.read_csv(url)

In [34]:
df.tail()

,Date,Open,High,Low,Close,Adj Close,Volume
54,2024-05-13,69.139999,69.449997,68.089996,68.389999,68.389999,14583702
55,2024-05-14,68.739998,68.739998,66.589996,67.129997,67.129997,14760832
56,2024-05-15,67.050003,68.940002,66.809998,67.930000,67.930000,11500471
57,2024-05-16,67.610001,68.800003,67.309998,68.300003,68.300003,14951215
58,2024-05-17,67.820000,68.040001,67.120003,67.989998,67.989998,6770407

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       59 non-null     object
 1   Open       59 non-null     float64
 2   High       59 non-null     float64
 3   Low        59 non-null     float64
 4   Close      59 non-null     float64
 5   Adj Close  59 non-null     float64
 6   Volume     59 non-null     int64
dtypes: float64(5), int64(1), object(1)
memory usage: 3.4+ KB

### Indexar columna `Date`

In [47]:
df['Date'] = pd.to_datetime(df['Date'])
df.set_index('Date', inplace=True)

In [48]:
df.head()

                 Open       High        Low      Close  Adj Close    Volume
Date
2024-02-21  69.000000  69.239998  68.519997  68.790001  68.790001  17165443
2024-02-22  68.610001  69.239998  68.110001  68.730003  68.730003  17451233
2024-02-23  69.059998  69.769997  68.639999  69.500000  69.500000  11254820
2024-02-26  69.599998  69.599998  68.510002  69.040001  69.040001  16097519
2024-02-27  69.089996  69.089996  67.779999  67.820000  67.820000  32116685

In [39]:
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,,
2024-02-21,2024-02-21,69.000000,69.239998,68.519997,68.790001,68.790001,17165443
2024-02-22,2024-02-22,68.610001,69.239998,68.110001,68.730003,68.730003,17451233
2024-02-23,2024-02-23,69.059998,69.769997,68.639999,69.500000,69.500000,11254820
2024-02-26,2024-02-26,69.599998,69.599998,68.510002,69.040001,69.040001,16097519
2024-02-27,2024-02-27,69.089996,69.089996,67.779999,67.820000,67.820000,32116685

## Función `precios`

In [66]:
def precios(accion='^MXX', fecha1=datetime.datetime.today().replace(month=1, day=1), 
            fecha2=datetime.datetime.today()):
    '''
    DOC STRING
    '''
    # print(fecha1.strftime('%s'))
    # print(fecha2.strftime('%s'))

    if type(fecha1) != datetime.datetime:
        fecha1 = datetime.datetime.strptime(fecha1, "%Y-%m-%d")
    fecha1 = fecha1.strftime('%s')

    if type(fecha2) != datetime.datetime:
        fecha2 = datetime.datetime.strptime(fecha2, "%Y-%m-%d")
    fecha2 = fecha2.strftime('%s')
    # fecha2 = datetime.datetime.strptime(fecha2, "%Y-%m-%d").strftime('%s')
                                        
                                        
    url = f'https://query1.finance.yahoo.com/v7/finance/download/{accion}?period1={fecha1}&period2={fecha2}&interval=1d&events=history&includeAdjustedClose=true'
    df = pd.read_csv(url)
    df['Date'] = pd.to_datetime(df['Date'])
    df.set_index('Date', inplace=True)
    df.sort_index(inplace=True)

    return df

In [69]:
precios('walmex.mx', '2023-01-01', '2024-01-01')

                 Open       High        Low      Close  Adj Close    Volume
Date
2023-01-02  68.589996  69.879997  68.410004  69.150002  68.425362   1134933
2023-01-03  69.010002  70.029999  68.809998  69.250000  68.524307   4738324
2023-01-04  69.150002  70.889999  68.730003  70.489998  69.751312   8848076
2023-01-05  70.550003  71.089996  69.940002  70.410004  69.672157  11016329
2023-01-06  70.430000  72.900002  70.220001  72.449997  71.690773   5278309
...               ...        ...        ...        ...        ...       ...
2023-12-22  70.709999  71.529999  70.209999  70.699997  70.699997   6591886
2023-12-26  70.699997  71.500000  70.699997  71.099998  71.099998   1939249
2023-12-27  71.070000  72.129997  70.309998  72.089996  72.089996   6887436
2023-12-28  71.709999  72.389999  70.940002  71.489998  71.489998   7916668
2023-12-29  71.599998  71.889999  71.220001  71.389999  71.389999   2911562

[251 rows x 6 columns]

## Guardar función en nuestra librería y recargarlas en automático:

## <font color='#2B17B0'>Retornos logarítmicos</font>

> _En el trading algorítmico, la precisión y consistencia determinan el éxito. Los retornos logarítmicos son preferidos porque brindan ventajas significativas al analizar rendimientos a través de diversos períodos_

* __Aditividad Temporal__: Los retornos logarítmicos son aditivos en el tiempo. puedes sumarlos para obtener el retorno logarítmico total durante todo el período. Esto no es el caso con los retornos algebraicos.
* __Menor Varianza__:tienden a tener una varianza menor que los retornos algebraicos, lo que los hace más estables para el análisis estadístico.
* __Distribución Normal__: Para muchos modelos financieros, se supone que los retornos se distribuyen de manera normal. Los retornos logarítmicos tienen más probabilidades de exhibir este comportamiento en comparación con los retornos algebraicos, especialmente para activos con oscilaciones significativas de precios.
* __Conveniencia Matemática__: Al trabajar con productos y proporciones (comunes en modelos financieros), los retornos logarítmicos simplifican los cálculos, especialmente al usar herramientas matemáticas como el movimiento browniano geométrico en el modelo Black-Scholes.

## Comparar 2 o más acciones

### Crear DataFrame con 2 o más precios de cierre de diferentes acciones

### Normalizado de series de tiempo: Comparar 2 o más acciones

## Algoritmo Promedios Móviles

Un promedio móvil es una técnica que calcula el promedio de un conjunto de datos a lo largo de un período específico, que se actualiza constantemente a medida que pasa el tiempo. Por ejemplo, en el caso de los precios de cierre de una acción, un promedio móvil de 20 días calcula el promedio de los precios de cierre de los últimos 20 días. Con cada día que pasa, se elimina el dato correspondiente al día más antiguo de los 20 y se incorpora el precio del día más reciente. De esta forma, el promedio móvil siempre refleja el precio promedio de las últimos 20 días.<br><br>

### Cálculo de los promedios móviles

Referencia sobre la función `rolling` de pandas:
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.rolling.html

### Calcular posicion en el mercado

Ventas en corto permitidas:
La estrategia consiste en tomar posiciones "long" o "short" al cruce de los PMs:
* Long: PM1 > PM2 $\longrightarrow$ __1__
* Short: PM1 < PM2 $\longrightarrow$ __-1__

Ventas en corto no permitidas:
* Long: PM1 > PM2 $\longrightarrow$ __1__
* Out:   PM1 < PM2 $\longrightarrow$ **0**

El utilizar números nos permite:
* Visualizar posición en el mercado de acuerdo a los crueces de lospromedios móviles
* Calcular los retornos de de la estrategia

#### Cálculo de posición del mercado utilizando ventas en corto

Referencia sobre función `where` de numpy:
https://numpy.org/doc/stable/reference/generated/numpy.where.html

#### <font color='navygray'>Visualizar posiciones en el mercado</font>

### Retornos del mercado Vs Estrategia PMs

### Visualizar desempeño

### <font color='navygray'>Balance monetario</font>

### Balance: Máximos

### Balance: Perdidas

### Encontrar pérdida máxima

#### dentificar la mayor perdida

#### Encontrar fecha

#### Identificar valor del pico máximo en la fecha de la mayor perdida

#### Identificar balance en la fecha de la mayor pérdida

## <font color='navygray'>Cual es la mejor combinación para los promedios móviles?</font>

# <font color='navygray'>ALGORITMO BASADO EN BANDAS DE BOLLINGER</font>

La técnica fue desarrollada por John Bollinger.  Y consiste en colocar una banda superior y una ineferior alrededor de un promedio móvil.  Por lo general el promedio móvil de las Bandas de Bollinger, tiene una ventana de 20 días.  La distancia entre las bandas y el promedio móvil son dos desviaciones estándar o  $2\sigma$.  Al utilizar $2\sigma$ nos aseguramos que el $95%$ de los datos de los precios están entre las dos bandas.  Se concidera que el precio de la acción está sobrevaluado, cuando toca la banda superior y subvaluado cuando toca la banda inferior.

## <font color='navygray'>Estrategia básica de las Bandas de Bollinger</font>

La estrategia más básica es comprar cuando el mercado está subvaluado y vender cuando está sobrevaluado.  En otras palabras, comprar cuando el precio de cierre toca la banda inferior $-2\sigma$ y vender cuando toca la banda superior $+2\sigma$.

## <font color='navygray'>Calcular el promedio móvil de 20 días y las líneas de $\pm2\sigma$</font>

## <font color='navygray'>Visualizar el precio de cierre, el PM20 días y las líneas de $\pm2\sigma$</font>

La función "*__fill_between__*" de MatPlotLib, genera un sombreado entre dos valores.  Necesitamos especificar los argumentos "*__color__*" y "*__alpha__*.  Este último acepta valores entre 0 y 1 que mide el nivel de opacidad del "relleno".

## <font color='navygray'>Calcular posición en el mercado</font>

* Long si PC < $-2\sigma$ del promedio móvil
* Short si PC > $+2\sigma$ del promedio móvil
* Y las posiciones en el "in between"?

#### <font color='navygray'>1. Crear columna nueva</font>

#### <font color='navygray'>2. Evaluar si el precio de cierre cruza $+2\sigma$</font>

#### <font color='navygray'>3. Evaluar si el precio de cierre cruza $-2\sigma$</font>

#### <font color='navygray'>4. Cambiar todos los **NaN** a la señal inmediata anterior</font>

## <font color='navygray'>BackTesting</font>

### <font color='navygray'>Balance y caidas</font>

### <font color='navygray'>Balance: Perdidas</font>

### Encontrar pérdida máxima

#### Identificar la mayor perdida

#### Encontrar fecha

#### Identificar valor del pico máximo en la fecha de la mayor perdida

#### Identificar balance en la fecha de la mayor pérdida